<template>
    <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row style="text-align:center;margin-bottom:80px">
            <b-col align-self="center">
                <h1>Estudiantes</h1>
            </b-col>
        </b-row>
        <b-row style="text-align:center;">
            <b-col align-self="center">
                
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Rut</th>
                            <th scope="col">Nombre</th>
                            <th scope="col">Fecha nacimiento</th>
                            <th scope="col">Carrera</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr v-for="(item, index) in estudiantes" :key="index">
                            <th scope="row">{{item.rut}}</th>
                            <td>{{item.nombre}}</td>
                            <td>{{item.fnacimiento}}</td>
                            <td>{{item.carrera}}</td>
                        </tr>
                    </tbody>
                </table>

            </b-col>
        </b-row>
    </b-container>
</template>

<script>
 import axios from 'axios';
 const localhost = 'http://167.172.150.180:8060';

  export default {
    data() {
      return {
        text: '',
        estudiantes: []
      }
    },
    created(){
        this.getAlumnos();
    },
    methods:{
        async getAlumnos(){
            console.log("funciona")
            this.mostrar = true;
            var url = 'http://167.172.150.180:8060/alumnos';
            console.log(url)
            try {
                axios.get(url).then((response) => {
                          this.estudiantes = response.data;
                });
                console.log(this.estudiantes)
            } 
            catch (error) {
                console.log(error)
            }
        }
    }
    
  }
</script> 