<template>
    <b-container class="bv-example-row bv-example-row-flex-cols">
        <b-row style="text-align:center;margin-bottom:80px">
            <b-col align-self="center">
                <h1>Nuevo Estudiante</h1>
            </b-col>
        </b-row>
        <b-row style="text-align:center;">
            <b-col align-self="center">
                
                <form @submit.prevent="agregarEstudiante(est)">
                <input type="text" class="form-control my-2" placeholder="Rut " v-model="est.nombre">
                <input type="text" class="form-control my-2" placeholder="Nombre " v-model="est.descripcion">
                <input type="text" class="form-control my-2" placeholder="Fecha nacimiento (AAAA/MM/DD) " v-model="est.fechanacimiento">
                <b-form-select
                    id="inline-form-custom-select-pref"
                    class="mb-2 mr-sm-2 mb-sm-0"
                    v-model="est.carrera"
                    :options="[{ text: 'Elegir carrera...', value: null }, 'Ing. civil Electrica', 'Ing. civil en Informatica', 'Ing. industrial']"
                    :value="null"
                ></b-form-select>
                <b-button class="btn-success my-2 btn-block" type="submit">Agregar</b-button>
                </form>

            </b-col>
        </b-row>
    </b-container>
</template>

<script>
  export default {
    data() {
      return {
        text: '',
        estudiante: {rut: '', nombre: '', fnacimiento: '', carrera: ''},
        alumno: [],
        est:{}
      }
    },
    methods:{
      agregarEstudiante(item){
        console.log("funciona")
        var url = 'http://167.172.150.180:8060/alumno';
        console.log(url)
        try {
            axios.post(url).then((response) => {
                      this.alumno.unshift(response.data);
            });
            console.log(this.estudiantes)
        } 
        catch (error) {
            console.log(error)
        }
        this.alumno = {}
      }
    }
  }
</script> 