<template>
  <div class="myNavBar" >
    <b-navbar type="dark" variant="dark" style="margin-bottom: 70px;">
        <b-navbar-nav>
            <b-nav-item to="/Ingresar/Estudiantes">Ingresar Estudiante</b-nav-item>

            <b-nav-item to="/Estudiantes">Todos los Estudiantes</b-nav-item>

        </b-navbar-nav>
    </b-navbar>
  </div>
</template>